<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
<script>
    var socket = new SockJS('http://54.180.239.58:8008/ws');  // WebSocket 엔드포인트
    var stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        // 메시지 구독
        stompClient.subscribe('/topic/1', function (messageOutput) {
            var message = JSON.parse(messageOutput.body);
            console.log('Received: ', message);
        });

        // 메시지 전송
        stompClient.send("/client/sendMessage", {}, JSON.stringify({
            memberId: 123,
            codeId: 456,
            reviewId: 1,
            nickname: 'John Doe',
            content: 'Hello, World!'
        }));
    });
</script>
</body>
</html>